.main {
    margin-top: 100px;    
}

.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
        
    display: block;
    width: 400px;
    line-height: 24px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    
    margin-left: auto;
    margin-right: auto;
}

.btn{
    font-size: 14px;
    font-weight: 550;
    background-color: #dfe1e5;
    
    margin-top: 30px;
    
    margin-right: 5px;
    margin-left: 5px;
    
    border-radius: 4px;
    border: none;
    
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
    

.privacy-text{
    display: block;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}